<?xml version='1.0' encoding='utf-8'?>
<widget id="com.secondoffice.east" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EastAustin</name>
    <description>
        Application for the EAST Austin hackathon.
    </description>
    <author email="ifuyivara@gmail.com" href="http://cordova.io">
        SecondOffice Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<feature name="Camera">
	    <param name="ios-package" value="CDVCamera" />
	</feature>
	<plugin name="Geolocation" value="CDVLocation" />
</widget>
