
.columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count: 2;
    column-gap: 0.5em;
    column-fill: auto;
}

.item {
	background: #fefefe;
	border-radius:5px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	transition: opacity .4s ease-in-out;
  	display: inline-block;
  	overflow:hidden;
  	column-break-inside: avoid;
}

.item img {
	width: 100%;
	height: auto;

}

.item .detail {
    display:block;
    padding:0.5em;
    width:100%;
    box-sizing:border-box;
  	font-size: .9rem;
	color: #444;
  	line-height: 1.5;
  	border-bottom:solid 1px #ccc;
}

.item .detail:last-child { border:none; }

.item .detail .title {
    font-size:13px;
    line-height:17px;
    color: #333333;
}

.item .detail.other {
    line-height:15px;
    font-size:12px;
}

.detail .artist-name {
    color: #717171;
}

.detail .medium {
    color: #b7b7b7;
}

.single-art.ui-listview {
    margin:0;
}

img.up-art-img{
	width:100%;
}

#app-header {
    background-color:#fff;
}

.ui-content {
    padding: 0.5em;
}